body{
	background-color: black;	
	background-repeat: no-repeat;
	text-align: center;
	font-family: "微软雅黑";
	overflow: hidden;

}

.content{
	width: 80%;
	margin: 0 auto 0;
}

.content_first{
	width: 100%;
	margin-top: 5%;
}

.intro{
	float: left;
	width: 50%;
	padding-left: 30px;
}

.intro_title{
	margin-top: 60px;
	color: #FFFFFF;
	font-size: 28px;
	text-align: left;
	line-height: 35px;
}

.intro p{
	padding: 30px 50px 0px 0px;
	text-align: left;
	color: #FFFFFF;
	line-height: 32px;
	font-size: 16px;
}

.logo{
	float: left;
	width: 50%;
	height: 500px;
}

.logo_logo{
	margin-top: 50px;
	width: 500px;
	height: 500px;
}

.wx{
	width: 100%;
	text-align: center;
	padding-right: 50px;
}

.wx_title{
	font-size: 16px;
	color: #FFFFFF;
	margin-top: 60px;
}

.wx_code{
	margin-top: 30px;
	width: 100px;
	height: 100px;
}